# ==========================
# 🔥 Django / Python
# ==========================

# Entorno virtual
.venv/
env/
venv/
ENV/

# Base de datos
db.sqlite3

# ==========================
# 🛠 IDE y editores
# ==========================

# PyCharm / JetBrains
.idea/
*.iml
modules.xml
workspace.xml