{% extends 'base.html' %}
{% load static %}

{% block title %}Histórico - Listado{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center w-100">
                <div class="col">
                    <h5 class="mb-0">{{ title|default:'Histórico' }}</h5>
                </div>

                <div class="col-auto text-end">
                    {% if url_last_page %}
                        <a href="{% url url_last_page %}" class="btn btn-secondary btn-sm">
                            Volver
                        </a>
                    {% else %}
                        <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-sm">
                            Inicio
                        </a>
                    {% endif %}

                </div>
            </div>

        </div>
        <div class="card-body">
            <table id="Table" class="table table-bordered table-striped table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Acciones</th>
                    {% for col in columns %}
                        {% if col != 'ID' %}
                            <th>{{ col }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
