{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center w-100">
                <div class="col">
                    <h5 class="mb-0">Listado de IPs y Equipos (Computadores e Impresoras)</h5>
                </div>
                <div class="col-auto text-end">
                    <!-- Aquí podrías agregar botones de reporte si se requieren -->
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="Table" class="table table-bordered table-striped table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>#</th>
                    {% for col in columns %}
                        {% if col != 'ID' %}
                            <th>{{ col }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
