{% extends 'base.html' %}
{% load static %}

{% block title %}Usuarios - Listado{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center w-100">
                <div class="col">
                    <h5 class="mb-0">Listado de Usuarios DEPARTAMENTO-SOPORTE</h5>
                </div>
                <div class="col-auto text-end">
                    <a href="{% url 'export_user_soporte' %}" class="btn btn-success me-2">
                        <i class="bi bi-file-earmark-excel"></i> Reporte
                    </a>
                </div>
                <div class="col-auto text-end">
                    <a href="{% url 'usuarios_list' %}" class="btn btn-warning">
                        <i class="fas fa-list"></i> Lista Usuarios
                    </a>
                </div>
                <div class="col-auto text-end">
                    {% if request.user.rol.soporte == 2 %}
                        <a href="{% url 'usuarios_dpto_create' %}" class="btn btn-info">
                            <i class="fas fa-plus"></i> Nuevo Usuario SOPORTE
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="Table" class="table table-bordered table-striped table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Acciones</th>
                    {% for col in columns %}
                        {% if col != 'ID' %}
                            <th>{{ col }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            setInterval(function () {
                const table = $('#Table').DataTable();
                if (table) {
                    table.ajax.reload(null, false); // false para mantener la paginación actual
                }
            }, 5000); // 5000 milisegundos = 5 segundos
        });
    </script>
{% endblock %}
