{% extends 'base.html' %}
{% load static %}

{% block title %}Establecimientos - {{ title|default:'Formulario' }}{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-10">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0">{{ title }}</h3>
            </div>

            <div class="card-body">

                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <input type="hidden" name="action" value="{{ action|default:'add' }}">

                    <!-- FILA 1 -->
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ form.numero_ticket.label }}</label>
                                {{ form.numero_ticket }}
                                {{ form.numero_ticket.errors }}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ form.departamento.label }}</label>
                                {{ form.departamento }}
                                {{ form.departamento.errors }}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ form.funcionario.label }}</label>
                                {{ form.funcionario }}
                                {{ form.funcionario.errors }}
                            </div>
                        </div>

                    </div>
                    <!-- FILA 2 -->
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ form.titulo.label }}</label>
                                {{ form.titulo }}
                                {{ form.titulo.errors }}
                            </div>
                        </div>

                    </div>


                    <!-- FILA 3 -->
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{ form.asignado_a.label }}</label>
                                {{ form.asignado_a }}
                                {{ form.asignado_a.errors }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{ form.tipo_soporte.label }}</label>
                                {{ form.tipo_soporte }}
                                {{ form.tipo_soporte.errors }}
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{ form.estado.label }}</label>
                                {{ form.estado }}
                                {{ form.estado.errors }}
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{ form.fecha_cierre.label }}</label>
                                {{ form.fecha_cierre }}
                                {{ form.fecha_cierre.errors }}
                            </div>
                        </div>

                    </div>

                    <!-- FILA 4 -->
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ form.descripcion.label }}</label>
                                {{ form.descripcion }}
                                {{ form.descripcion.errors }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ form.solucion.label }}</label>
                                {{ form.solucion }}
                                {{ form.solucion.errors }}
                            </div>
                        </div>


                    </div>


                    <div class="text-right mt-4">
                        <a href="{% url 'ticket_panel_list' %}" class="btn btn-secondary">
                            Cancelar
                        </a>

                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}


{% block javascript %}
<script>
    $('.select2').select2({
        theme: 'bootstrap4',
        width: '100%'
    });
</script>
{% endblock %}