{% extends 'base.html' %}
{% load static %}

{% block title %}Comunas - Listado{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center w-100">
                <div class="col">
                    <h5 class="mb-0">Listado de Comunas</h5>
                </div>
                <div class="col-auto text-end">
                    <a href="{% url 'historical_comunas' %}" class="btn btn-warning me-2">
                        <i class="bi bi-file-earmark-excel"></i> Historial
                    </a>
                    <a href="{% url 'export_comuna' %}" class="btn btn-success me-2">
                        <i class="bi bi-file-earmark-excel"></i> Reporte
                    </a>
                    <a href="{% url 'create_comunas' %}" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Nueva Comuna
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="Table" class="table table-bordered table-striped table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Acciones</th>
                    {% for col in columns %}
                        {% if col != 'ID' %}
                            <th>{{ col }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
