# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/vcs.xml
/SSA_SOPORTE.iml
/inspectionProfiles/Project_Default.xml
/inspectionProfiles/profiles_settings.xml
/misc.xml
/material_theme_project_new.xml
/copilot.data.migration.agent.xml
